*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
body{
    background: #f5f5f5;
    color: #333;
}
/*navbar*/
header{
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 15px 25px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.logo span{
 color: #ff6600;   
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}
.menu-btn{
    display: none;
    font-size: 28px;
    cursor: pointer;
}
/*hero*/
.hero{
    height: 70vh;
    background: url("rider.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 30px;
}
.hero-text{
    text-align: center;
}
.hero-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.hero-text p{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}
.btn{
    background: #ff6600;
    padding: 12px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
/*services*/
.services{
    padding: 60px 20px;
    text-align: center;
}
.services h2{
    font-size: 33px;
    margin-bottom: 27px;
}
.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;

}
.card{
     background: #fff;
     margin-bottom: 15px;
    padding: 30px;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow:  0 2px 8px rgba(0,0,0,.1);
    text-align: center;
}
.card h3{
    margin-top: 10px;
}

/*signup*/
.signup{
    background: #ff6600;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}
.signup h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.signup-form{
    max-width: 400px;
    margin: auto;
}
.signup-form input{
    width: 100%;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
}
button{
    width: 150px;
    height: 30px;
    font-style: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #000;
    color: #fff;
}

/*footer*/
footer{
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*responsive*/
@media(max-width: 768px) {
    .nav-links{
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 20px;
    }
    .nav-links.active{
        display: flex;
    }
    .menu-btn{
        display: block;
    }
    .hero-text h1{
        font-size: 32px;
    }
}