*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, arial;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    margin-top: 150px;
    padding: 100px, 15%;
    align-items: center;
    background: black;
    color: white;
    border-radius: 10px;
}
 .links{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
address p{
    align-items: center;
}
div{
    flex-grow: 3;
}
.links h2{
    margin-bottom: 20px;
}
.links a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.links a:hover{
    color: orange;
}
input[type="submit"]{
    width: 80px;
    cursor: pointer;
}
input:hover{
    background: orange;
}
input{
    border: none;
    width: 120px;
    height: 25px;
    font-size: 15px;
}
